body {
    text-align: center;
    margin: 0;
}
main {
    width: 100%;
    margin: auto;
} 
.div-phones {
    height: 150px;
    border: 2px solid black;
    width: 24.7%; 
    float: left;
}

.p-old-price {
    text-decoration: line-through;
    margin-bottom: 0px;
}

.p-new-price {
    margin: 0%;
    color: red;
}

#select-sort {
    margin: 20px;
}